html{

    width: 100%;
    height: 100%;
}


body{

    display:grid;
    justify-content: center;
    background-image: url("../img/fondo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

#header{

    font-size: 3em;
    text-align: center;
    color: white;
    margin-top: 15%;
    margin-bottom: 5%;
}

#tablero{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap:1%;
    width: 500px;
    height: 500px;
    border: 20px solid black;
}


.casilla{

    border: 5px solid white;
    background: white;
    
}

.cruz{


    background-image: url("../img/cruz.png");
    background-size: 100% 100%;

}

.circulo{

    background-image: url("../img/circulo.png");
    background-size: 100% 100%;

}